main{
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    height: 100%;
}
main > div{
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.container{
    background: url("/images/trees.webp");
    background-size: cover;
    background-position: 50% 70%;
    height: 100%;
    position: relative;
    z-index: 2;
}

.container::before{
    content: ' ';
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, rgba(var(--black-rgb), 1), rgba(var(--black-rgb), 0));
    position: absolute;
    bottom: -5px;
}

.contentContainer{
    position: absolute;
    bottom: 10%;
    left: 7%;
    transform: translateY(-50%);
}

.contentContainer .title, 
.contentContainer .description{
    width: fit-content;
    color: var(--white);
}

.contentContainer .title{
    font-size: 1.9em;
    margin-bottom: 5px;
}

.contentContainer .description{
    margin-left: 20px;
    max-width: min(420px, calc(100% - 40px));
}

.scrollContainer{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30%;
}

.scrollContainer .scrollText{
    color: var(--white);
    font-size: 1em;
    transform: translateY(50%);
    width: fit-content;
    cursor: pointer;
    user-select: none;
}

.scrollContainer .scrollIcon{
    background: url("/images/svgs/chevron-down.svg");
    background-size: cover;
    width: 45px;
    aspect-ratio: 1;
    cursor: pointer;
}

/* === ABOUT === */

#about{
    height: 100vh;
    background: var(--black);
    position: relative;
    z-index: 1;
    overflow-x: hidden;
}

#about > .title{
    color: var(--white);
    position: relative;
    top: 10%;
    left: 7%;
    font-size: 2em;
    display: block;
}

#about .underline{
    height: 1px;
    width: 40%;
    border-radius: 2px;
    position: relative;
    left: 50%;
    top: 12%;
    transform: translateX(-50%);
    background: rgba(var(--white-rgb), .75);
}

#about .content{
    background: var(--white);
    height: 80%;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

#about .content header{
    height: 60px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.15em;
    user-select: none;
}

#about .content header > span{
    font-weight: 500;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

#about .content header > span span{
    cursor: pointer;
}

#about .content header span .dash{
    width: 0px;
    height: 2px;
    background: var(--black);
    cursor: pointer;
}

.dash.active{
    animation: 250ms slideSpawn forwards;
}

.dash.deactive{
    animation: 250ms slideDespawn forwards;
}

.transformContainer{
    height: 60%;
    width: max-content;
    position: relative;
    left: 20%;
    top: 10%;
    display: block;
    user-select: none;
}

.horizontalScrollContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.horizontalScrollContainer .ourProgress{
    height: 100%;
    aspect-ratio: 4/3;
    transform: translateX(-20%);
    padding: 24px;
    position: relative;
    background: url("/images/svgs/wave2.svg"), rgba(var(--green-rgb), .25);
    background-size: cover;
    border-radius: 12px;
}

.ourProgress .title{
    color: var(--black);
    font-weight: 600;
    font-size: 1.9em;
    margin-bottom: 12px;
}

.ourProgress .description{
    color: var(--black);
}

.horizontalScrollContainer .image{
    height: 100%;
    aspect-ratio: 3/4;
    background-size: cover;
    position: relative;
    border-radius: 5px;
    margin-right: 2.5%;
}

.image::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: 250ms all;
    background: linear-gradient(to top, var(--black), transparent 50%);
    background-size: 150% 150%;
    background-position-y: 0;
    z-index: 1;
    border-radius: 5px;
}

.image:hover::before,
.image:focus::before{
    background-position-y: 100%;
}

.image p{
    color: var(--white);
    z-index: 3;
    bottom: 18px;
    left: 12px;
    position: absolute;
    width: calc(100% - 24px);
    display: inline-block;
}

.image p span{
    opacity: 0;
    display: inline-block;
    margin-right: 4px;
    font-size: 1.1em;
}

.image:hover p span,
.image:focus p span{
    animation: 350ms popup forwards;
}

.stackedContainer{
    height: 60%;
    aspect-ratio: 3/4;
    position: relative;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.stackedContainer .image{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 5px;
}

.stackedContainer .visibleContainer p{
    color: var(--white);
    z-index: 3;
    bottom: 24px;
    left: 12px;
    position: absolute;
    width: calc(100% - 24px);
    display: inline-block;
    font-size: 0.85em;
}

.stackedContainer .visibleContainer .image::before{
    background-size: cover;
}

.visibleContainer .sliderContainer{
    position: absolute;
    height: 5px;
    width: 100%;
    z-index: 4;
    display: flex;
    bottom: 12px;
    justify-content: center;
    flex-direction: row;
    gap: 1%;
}

.sliderContainer .dot{
    display: block;
    border-radius: 50%;
    width: 1.5vw;
    height: 1.5vw;
    position: relative;
}

.sliderContainer .dot:not(.full){
    border: 1px solid var(--white);
}

.sliderContainer .dot.full{
    background: var(--white);
}

.content .ideaContainer{
    height: calc(100% - 100px);
    width: 100%;
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 70px;
    grid-row-gap: 24px;
    overflow-y: scroll;
}

.ideaContainer > div:not(.people){
    max-width: 440px;
    margin: 0 auto;
    position: relative;
    padding: 18px;
    border-radius: 12px;
}

.ideaContainer > div .title{
    color: var(--black);
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 4px;
}

.ideaContainer > div .description{
    color: var(--black);
}

.ideaContainer > .people { 
    grid-area: 1 / 2 / 3 / 3; 
    width: 100%;
}

.ideaContainer > .people > div{
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.ideaContainer > .people > div .name{
    font-size: 1.1em;
    font-weight: 600;
    color: var(--green);
}

.ideaContainer > .people > div .role{
    color: var(--black);
    font-weight: 600;
}

.ideaContainer > .people > div .text{
    color: var(--black);
    display: inline-block;
    max-width: 330px;
}

.people .person{
    padding: 4px;
    position: relative;
    display: flex;
    gap: 12px;
    height: 80px;
    width: 100%;
    margin: none;
}

.people .person > .portrait > .portrait{
    display: block;
    width: 55px;
    height: 65px;
    background: var(--green);
    border-radius: 4px;
}

.people .person:nth-of-type(4) > .portrait > .portrait{
    background: url("/images/faces/sam.jpg");
    background-position: 50 50;
    background-size: cover;
    background-repeat: no-repeat;
}

#about .scrollContainer .scrollText{
    color: var(--black);
    font-weight: bold;
}

#about .scrollContainer .scrollIcon{
    background: url("/images/svgs/chevron-down2.svg");
    background-size: cover;
    width: 45px;
    aspect-ratio: 1;
    cursor: pointer;
}

/* === PRODUCTS === */

#products{
    height: 100vh;
    background: var(--white);
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px .5fr 1fr;
}

#products .highlight{
    width: min(360px, 90%);
    aspect-ratio: 16/9;
    position: relative;
    left: 5%;
}

#products .highlight .plant{
    width: 50%;
    background: url("/images/plant.webp");
    background-size: cover;
    background-repeat: no-repeat;
    transform: scaleX(-1);
    aspect-ratio: 1;
}

#products .highlight .content{
    position: absolute;
    height: 70%;
    width: 100%;
    border-radius: 24px;
    background: rgba(var(--green-rgb), .25);
    left: 0;
    bottom: 0;
}

#products .flexContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    height: 100%;
}

#products .flexContainer .title{
    color: var(--green);
    font-weight: 600;
    font-size: 1.2em;
    text-align: left;
}

#products .flexContainer .description{
    color: var(--green);
    font-size: 1.1em;
}

#products .flexContainer .price{
    color: var(--green);
    font-weight: 600;
    background: var(--green);
    border-radius: 8px;
    width: fit-content;
    padding: 2px 14px;
}

.price > span{
    color: var(--white);
}

.productContainer .title{
    color: var(--green);
    font-size: 1.3em;
    font-weight: 600;
    width: min(360px, 90%);
    margin: 24px 0 0 5%;
}

.product{
    background: rgba(var(--black-rgb), 0.1);
    min-width: min(200px, 60%);
    width: min(200px, 60%);
    aspect-ratio: 3/4;
    margin-top: .5%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    border-radius: 12px;
}

.product img{
    width: 90%;
    margin: auto;
    user-select: none;
}

.product .name{
    color: var(--black);
    margin-left: 12px;
    font-weight: 600;
    width: 60%;
}

.product .description div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.product .description div .description{
    margin-left: 12px;
}

.product .price{
    font-size: 1em;
    font-weight: 600;
    color: var(--green);
    margin-right: 12px;
}

.features{
    position: absolute;
    width: 55%;
    min-width: 360px;
    height: 70%;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.features .title{
    font-size: 1.9em;
    font-weight: 600;
    color: var(--black);
}

.features > div{
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    flex-grow: 1;
}

.featPoint .title{
    color: var(--green);
    font-weight: 600;
    font-size: 1.3em;
}

/* === FOOTER === */

.footer{
    background: url("/images/svgs/wave.svg"), var(--black);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size: 100%;
    height: 32vh;
    position: relative;
    user-select: none;
}

.footer .flexContent{
    position: absolute;
    bottom: 0;
    height: calc(100% - 50px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.footer .mediaIcons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: fit-content;
    height: fit-content;
    gap: 32px;
}

.mediaIcons > a,
.footer .links > a{
    opacity: .8;
    transition: 250ms all;
    color: var(--white);
}

.mediaIcons > a:hover,
.footer .links > a:hover{
    opacity: 1;
}

.mediaIcons .mail{
    background: url("/images/svgs/mail.svg");
    background-size: cover;
    height: 32px;
    aspect-ratio: 1;
}

.mediaIcons .instagram{
    background: url("/images/svgs/instagram.svg");
    background-size: cover;
    height: 32px;
    aspect-ratio: 1;
}

.mediaIcons .github{
    background: url("/images/svgs/github.svg");
    background-size: cover;
    height: 32px;
    aspect-ratio: 1;
}

.footer .links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
}

.footer .copyright span{
    color: var(--white);
    opacity: .8;
    font-size: .9em;
}

/* === MOBILE === */

@media only screen and (max-width: 600px) and (orientation: portrait){
    #about .title{
        width: 100%;
        text-align: center;
        left: 0;
    }

    #about .content{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    
    .content .ideaContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 24px;
        grid-row-gap: 24px;
    }
    
    .ideaContainer > .people { 
        grid-area: 3 / 1 / 5 / 2; 
    }

    .arrow{
        height: 50%;
        width: 50px;
        background: red;
        position: absolute;
        top: calc(10% + 60px);
    }
    .arrow.left{
        left: 0;
    }
    .arrow.right{
        right: 0;
    }

    #products{
        max-height: 100vh;
        overflow: hidden;
    }

    .features{
        position: relative;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        justify-content: flex-start;
    }

    .features > div{
        gap: 20px;
    }

    .featPoint .text{
        font-size: .9em;
    }

    .sliderParent .title{
        margin: 0 auto;
    }

    .slider{
        margin-top: 4%;
    }
    
    .footer{
        height: 42vh;
    }

    .footer .links{
        flex-direction: column;
        gap: 8px;
    }

    .footer .copyright{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .mediaIcons > a,
    .footer .links > a{
        opacity: 1;
    }
}

/* === ANIMATIONS === */

@keyframes slideSpawn {
    from{
        width: 0;
    }
    to{
        width: 40px;
    }
}

@keyframes slideDespawn{
    from{
        width: 40px;
    }
    to{
        width: 0;
    }
}

@keyframes popup {
    from{
        opacity: 0;
        transform: translateY(12px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes wiggle{
    0%{
        transform: none;
    }
    25%{
        transform: translateX(20px);
    }
    50%{
        transform: none;
    }
    75%{
        transform: translateX(20px);
    }
    100%{
        transform: none;
    }
}
