.container{
    position: relative;
    height: 100%;
    padding-top: 52px;
    display: flex;
    background: var(--white);
    flex-direction: column;
    gap: 12px;
}

.devices {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
}

.devices .device{
    height: 300px;
    aspect-ratio: 1;
    background: rgba(var(--black-rgb), .1);
}

@media only screen and (max-width: 600px) and (orientation: portrait){
    .container{
        padding-top: 60px;
    }
}
