.container{
    height: 100%;
    padding-top: 52px;
    display: flex;
    background: var(--white);
    flex-direction: column;
    gap: 12px;
}

.container .devices{
    
}

@media only screen and (max-width: 600px) and (orientation: portrait){
    
}
